nav {
    border-bottom: black solid 1px;
}

#container {
    margin: 5% 0;
}

#set-budget, #add-expense, #add-category, #view-expenses {
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
    padding: 2%;
}

#view-budget {
    border: black solid 2px;
    padding: 4%;
}

#budget-progress {
    border: black solid 1px;
}

#be {
    margin: 30px 10px;
    
}

form {
    padding: 0 5%;
}

