nav {
    border-bottom: black solid 1px;
}
#container {
    margin: 5% 0;
}
#set-budget, #add-expense, #view-expenses, #add-category {

    border: black solid 2px;
    padding: 2%;
    margin: 1% auto;
}
#view-budget {
    border: black solid 2px;
    padding: 4%;
}
#budget-progress {
    border: black solid 1px;
}
#be {
    margin: 30px 10px;
    
}
form {
    padding: 0 5%;
}
